extends layout

block content
  h1= title
  p This is my Game Listener
  
  p#npcx  NPC X:
  p#npcy  NPC Y:
  
  p#debug
  p#debugListener
  
      div
        <canvas id="myCanvas" width="200" height="200" style="border:1px solid #000000;"></canvas>
  